<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <!--Custom CSS or other type must put between this both line, START from here-->
    <!--CSS-->
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/CustomStyle.css" rel="stylesheet" />
    <!--END here-->
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("BepBanhLau", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("User Management", "Home", "Admin")</li>
                            <li>@Html.ActionLink("Add User", "Home", "Admin")</li>
                            <li><a>Hello - @User.Identity.Name</a></li>
                            <li>@Html.ActionLink("Logout", "Logout", "Accounts")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "Login", "Accounts")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>*@
    <header>
        <nav style="border-bottom:1px solid #8cc63f;">
            <div class="row">
                <div class="logo col-lg-3 col-md-12 col-sm-12 col-xs-12" title="Dụng cụ và nguyên liệu nấu ăn (lậu)">
                    <a href="@Url.Action("Index","Home")"><img src="~/Content/Images/BBL_Clone.png" /></a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="search row">
                        <div class="search_bar">
                            <input type="text" name="search_value" class="search_value" placeholder="Enter the product name you want to buy..." value="" />
                            <button class="search_btn"><i class="fa fa-search"></i></button>
                        </div>
                        <a href="tel:0398061692">HOTLINE<span class="hotline">0398061692</span></a>
                    </div>
                    <div class="branch row">
                        @foreach (var item in ViewBag.listBranch)
                        {
                            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">@item.name_branch: @item.phone_number</div>
                        }
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="action row">
                            <span style="float:left;">Hello: </span><br />
                            <a class="col-lg-3 col-md-12 col-sm-12 col-xs-12" href="#">@User.Identity.Name</a>

                        </div>
                        <div class="cart row">
                            <a class="fa fa-shopping-cart col-12" style="float:left;"><span style="font-family:sans-serif!important;">Cart</span></a>
                            <a class="col-lg-3 col-md-12 col-sm-12 col-xs-12" href="@Url.Action("Logout", "Accounts")">Logout</a>
                        </div>
                    }
                    else
                    {
                        <div class="action row">
                            <a class="col-lg-3 col-md-12 col-sm-12 col-xs-12" href="@Url.Action("Login", "Accounts")">Login</a>
                            <a class="col-lg-3 col-md-12 col-sm-12 col-xs-12" href="@Url.Action("Signup", "Accounts")">Register</a>
                        </div>
                        <div class="cart row">
                            <a class="fa fa-shopping-cart col-12" style="float:left;"><span style="font-family:sans-serif!important;">Cart</span></a>
                        </div>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container body-content col-12">
        @RenderBody()
        <hr />
    </div>
    <footer id="footer">
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="module col-sm-12 col-md-12 col-lg-4 col-xl-4 notitle">
                        <div class="module-content">
                            <p>
                                <strong>KUPKACE SHOP (LẬU) - NGUYÊN LIỆU &amp; DỤNG CỤ LÀM BÁNH</strong>
                            </p>
                            <p>
                                <span style="color:#40E0D0;">
                                    <b>Hoạt động: T2-T7: 8h - 20h&nbsp; &nbsp; CN:8h-18h</b>
                                </span>
                            </p>
                            <p>
                                <strong>CS1:</strong>
                                <span style="color:#FFA500;">
                                    <strong>216 Phan Huy Ích, Phường 12, Quận Gò Vấp</strong>
                                </span>
                            </p>
                            <p>
                                <strong>CS2:</strong>
                                <span style="color: rgb(255, 165, 0);">
                                    <strong>69 Hàn Thuyên, Bình Thọ, Thủ Đức</strong>
                                </span>
                            </p><p>
                                <strong>CS3:</strong> <span style="color: rgb(255, 165, 0);">
                                    <strong>77 Phan Đình Phùng, P17, Phú Nhuận</strong>
                                </span>
                            </p><p>
                                <a href="https://www.facebook.com/bepbanhkk">
                                    <img alt="" src="" style="width: 41px; height: 41px;">
                                </a>&nbsp;<a href="https://shopee.vn/bepbanhkk">
                                    <img alt="Shopee Bếp Bánh" src="">
                                </a>
                            </p>
                        </div>
                    </div><div class="module footer-links col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="module-decoration">
                            <div class="module-title">
                                <h3>
                                    <span>Chính sách bán hàng</span>
                                </h3>
                            </div>
                        </div>
                        <div class="module-content">
                            <ul class="menu list-unstyled" id="menufooter">
                                <li class="">
                                    <a class="" title="CHÍNH SÁCH BẢO MẬT THÔNG TIN" href="">
                                        <span class="">CHÍNH SÁCH BẢO MẬT THÔNG TIN</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="" title="CHÍNH SÁCH BẢO HÀNH VÀ ĐỔI TRẢ" href="">
                                        <span class="">CHÍNH SÁCH BẢO HÀNH VÀ ĐỔI TRẢ</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="" title="CHÍNH SÁCH GIAO HÀNG VÀ THANH TOÁN" href="">
                                        <span class="">CHÍNH SÁCH GIAO HÀNG VÀ THANH TOÁN</span>
                                    </a>
                                </li>
                                <li class="">
                                    <a class="" title="KIỂM TRA ĐƠN HÀNG ĐÃ MUA" href="">
                                        <span class="">KIỂM TRA ĐƠN HÀNG ĐÃ MUA</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="module footer-links col-xs-12 col-sm-12 col-md-4 col-lg-4">
                        <div class="module-decoration">
                            <div class="module-title">
                                <h3>
                                    <span>Tài khoản Thanh Toán</span>
                                </h3>
                            </div>
                        </div><div class="module-content">
                            <p>
                                Nội dung lệnh chuyển: "<span style="color:#FFA500;">
                                    <strong>Tên - số điện thoại</strong>
                                </span>"
                            </p>
                            <p>
                                <span style="color:#FFA500;">
                                    <strong>Ngân hàng Vietcombank</strong>
                                </span>chi nhánh Tân Định&nbsp; &nbsp;&nbsp;
                            </p>
                            <p><strong>Nguyễn Thái Dương</strong>&nbsp;&nbsp;&nbsp;</p>
                            <p>Số tài khoản : 0371000509781&nbsp;&nbsp;&nbsp;</p>
                            <span style="color:#FFA500;">
                                <strong>Momo: </strong>
                            </span>
                            <p>0398061692 Nguyễn Thái Dương</p>
                        </div>
                    </div>
                    <div class="module footerregiter col-xs-12 col-sm-12 col-md-12 col-lg-12 notitle">
                        <div class="module-content">
                            <p>Giấy chứng nhận Đăng ký Kinh doanh số 99M99999 do Uỷ Ban Nhân Dân Quận Ảo Tưởng cấp ngày 01/01/0001</p>
                            <p>
                                <img alt="" src="" style="width: 200px; height: 76px; float: right;">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @if (ViewBag.Alert != null)
    {
        <script type="text/javascript">
                setTimeout(function(){ alert("@ViewBag.Alert"); }, 500);
        </script>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/shared_function.js"></script>
</body>
</html>
